<div class="container">
	<div class="jumbotron">
		<h2>About the app:</h2>
		<img src="/alex.jpg" alt="Alex Zwir's profile picture">
		<p>This was created by <%= link_to "Alex Zwir","alexzwir.com.br"%></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos beatae placeat commodi est error! In, nihil dignissimos. Ex quidem provident, distinctio molestias porro, debitis similique voluptatum blanditiis ipsum qui molestiae!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non qui esse repudiandae dolores nostrum, voluptates exercitationem fuga veniam excepturi error quos incidunt magnam molestias nulla dolorum. Eos, asperiores consequuntur.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis mollitia a laboriosam accusamus, officiis ex. Quidem minus autem est voluptatum doloribus voluptate ipsam, sed dignissimos iure neque accusamus error, ipsa.</p>
	</div>
</div>